<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <h1>This is Profile Page {{name}}</h1>
    <h2>The ID of Profile is: {{id}}</h2> {% endcomment %}
    <h1>Student Profile</h1>
    <h2>The ID of Student is: {{student.id}}</h2>
    <h2>The Name of Student is: {{student.name}}</h2>
    <h2>The Roll No of Student is: {{student.rollno}}</h2>
    <h2>The Course of Student is: {{student.course}}</h2>
    
</body>
</html>